<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889484828106-mqcbq8buao0fue8qt48u6od1pfm32s0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889484828106-mqcbq8buao0fue8qt48u6od1pfm32s0k</string>
	<key>API_KEY</key>
	<string>AIzaSyAt7C_xwyv12DPGhvzxPh_6mTwN0gK8D5c</string>
	<key>GCM_SENDER_ID</key>
	<string>889484828106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appp</string>
	<key>PROJECT_ID</key>
	<string>jaehnkeapp-ccc7d</string>
	<key>STORAGE_BUCKET</key>
	<string>jaehnkeapp-ccc7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889484828106:ios:82d26add4bde92b2f30333</string>
</dict>
</plist>